@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/FuturaPT-Book.eot');
    src: url('FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Book.woff2') format('woff2'),
        url('../fonts/FuturaPT-Book.woff') format('woff'),
        url('../fonts/FuturaPT-Book.ttf') format('truetype'),
        url('../fonts/FuturaPT-Book.svg#FuturaPT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 21px;
    color: #fff;

    background: #edeef0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.conteiner {
    max-width: 1920px;
    padding: 0 10px;
    margin: 0 auto;
}


/*---------------active----------------*/
.active {
    background-color: rgb(255, 255, 255);
}

.active__box {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.active__box h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;

    color: rgb(53, 54, 54);
    text-align: left;
}

.active__box-inner {
    border: 1px solid rgb(23, 115, 186);
    border-radius: 5px;
    display: flex;
    cursor: pointer;
}

.active__box-inner h2 {

    padding-left: 40px;
    font-size: 16px;
    line-height: 60px;
    color: rgb(23, 115, 186);
}



.menu__burger {
    width: 22px;
    height: 17px;
    position: relative;
    top: 35%;
    margin: 0 40px 19px;
}

.menu__burger::before,
.menu__burger::after {
    content: '';
    background-color: #1773BA;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
}

.menu__burger::before {
    top: 0;
}

.menu__burger-line {
    background-color: #1773BA;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 8px;
}

.menu__burger::after {
    bottom: 0;
}

.active__box-inner:hover {
    background: #1b82d1;
    color: #fff;
}

.active__box-inner:hover h2 {
    background: #1b82d1;
    color: #fff;
}

.active__box-inner:hover .menu__burger::before,
.active__box-inner:hover .menu__burger::after,
.active__box-inner:hover .menu__burger-line {
    background: #fff;
}

.active__box-inner:active {
    box-shadow: 0px 3px 8.6px 1.4px rgba(27, 130, 209, 0.48);
}

.active {
    display: block;
}

.deactive {
    display: none;
}



/*-----------header-----------*/


.header {
    background: linear-gradient(to right, #115e99, #1b73b8, #2488d5);
    font-family: 'Futura PT Book';
    overflow: hidden;

}

.header__box {
    position: absolute;
    right: 200%;
    z-index: 333px;
    transition: .5s;
}


.header__active {
    position: relative;
    display: block;
    right: 0;

    height: 100vh;
    z-index: 34242;
    overflow-y: auto;
}


.header__menu-active {
    background: #fff;
}

.look {
    overflow: hidden;
}




.header__menu {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 195px;

    position: relative;
}

.header__menu-item {
    width: 400px;
    display: flex;
    justify-content: space-between;

}

.header__box-link,
.footer__box-link {
    font-family: 'Futura PT Book';
    font-size: 24px;
    line-height: 28.8px;
    color: #f0f5f9;
    display: block;
}



.header__box-link>span,
.footer__box-link>span {
    font-family: 'Futura PT Book';
    font-size: 18px;
    line-height: 21.6px;
    color: #fff;
    display: block;
}

.header__box-link span::after {
    content: url('../images/header__arrow.png');
    padding-left: 50px;
    position: relative;
    top: 3px;
}

.header__box-link-two span::after {
    padding-left: 40px;
}



.header__menu-logo {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



.header__logo-text h1 {
    font-size: 39px;
    line-height: 46.8px;
}

.header__logo-text p {
    font-size: 18px;
    line-height: 21.6px;
}

.header__menu-btn {
    display: flex;
    cursor: pointer;
}

.header__menu-btn p {
    font-size: 18px;
    line-height: 21.6px;
    position: relative;
    color: #f1f7fc;
    top: -20px;
}

.header__menu-btn p::after {
    content: url('../images/header__close.png');
    position: relative;
    top: 15px;
    padding-left: 20px;
}


.header__wrapp {
    padding-bottom: 133px;
}

.header__wrapp-conteiner {
    max-width: 1370px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.header__wrapp-conteiner-two {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__conteiner-box {
    padding: 50px 50px 47px;
    border-radius: 10px;
    margin-bottom: 51px;
    width: 417px;

    transition: .4s;
}



.header__back-one {
    background: #fff url('../images/products_back.png') no-repeat right bottom;
}

.header__back-two {
    background: #fff url('../images/project__back.png') no-repeat right bottom;
}

.header__back-three {
    background: #fff url('../images/portfolio__back.png') no-repeat right bottom;
}

.header__back-four {
    background: #fff url('../images/blog__back.png') no-repeat right bottom;
}

.header__back-five {
    background: #fff url('../images/company__back.png') no-repeat right bottom;
}

.header__back-six {
    background: #fff url('../images/structure__back.png') no-repeat right bottom;
}

.header__conteiner-box-one {
    width: 660px;
    padding: 50px 50px 36px 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.header__conteiner-box img {
    padding-bottom: 27px;
}

.header__conteiner-box-one img {
    padding-bottom: 14px;
}

.header__conteiner-box h3 {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #303030;
}

.header__conteiner-btn>span::after {
    content: url('../images/header__btn-arrow.png');
}

.header__conteiner-box-one>.header__conteiner-text>.header__conteiner-btn>span::after {
    position: relative;
    top: 73px;
    left: 83%;
}

.header__conteiner-text-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__conteiner-text-two h3 {
    font-weight: normal;
    font-size: 24px;
    line-height: 28.8px;
    color: #303030;
}

.header__conteiner-box:hover {
    box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.35);
}

.header__conteiner-box:hover .header__conteiner-text h3 {
    color: #1773ba;
}

.header__conteiner-box:hover .header__conteiner-btn>span::after {
    content: url('../images/header__btn-arrow-active.png');
}

/*---------------footer--------------*/
.footer {
    background: #2f2f2f;
    padding: 50px 0 53px;
    color: #B2B2B2;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo h1 {
    font-weight: normal;
    font-size: 39px;
    line-height: 46.8px;
    color: #fff;
}

.footer__logo-text p {
    font-size: 18px;
    line-height: 21.6px;
    color: #fff;
}


.footer__box-link,
.footer__box-link>span {
    color: #B2B2B2;
}

.footer__box-link span::after {
    content: url('../images/footer__arrow.png');
    padding-left: 50px;
    position: relative;
    top: 3px;
}

.footer__box-link-two span::after {
    content: url('../images/footer__arrow.png');
    padding-left: 40px;
    position: relative;
    top: 3px;
}

.footer__wrapp-inner>a {
    font-family: 'Futura PT Book';
    font-size: 22px;
    line-height: 26.4px;
    color: #B2B2B2;
    display: block;

    padding-bottom: 50px;
}

.footer__wrapp-inner>a>span {
    font-size: 18px;
    line-height: 21.6px;
}

.footer__wrapp-inner>a>span::after {
    content: url('../images/footer__arrow.png');
    padding-left: 132px;
    position: relative;
    top: 3px;
}

.footer__wrapp-text h4 {
    font-family: 'Futura PT Book';
    font-size: 18px;
    font-weight: normal;
    line-height: 28.8px;
}

.footer__wrapp-text p {
    font-family: 'Futura PT Book';
    font-size: 22px;
    line-height: 28.8px;
}

.footer__wrapper-inner {
    padding-bottom: 40px;
}

.footer__wrapper-inner h4 {
    font-family: 'Futura PT Book';
    font-size: 18px;
    line-height: 26.4px;
    text-align: right;
}

.footer__wrapper-inner p {
    font-family: 'Futura PT Book';
    font-size: 22px;
    line-height: 26.4px;
    text-align: right;

}

.footer__wrapper-link a {
    font-family: 'Futura PT Book';
    font-size: 22px;
    line-height: 26.4px;
    text-align: right;
    color: #1773ba;
    display: block;
}

.footer__wrapper-link a:hover {
    text-decoration: underline;
}

.footer__wrapper-link p {
    font-family: 'Futura PT Book';
    font-size: 18px;
    line-height: 26.4px;
    text-align: right;

    padding-top: 35px;
}

.footer__box {
    display: flex;
    justify-content: space-between;
}



.footer__wrapp {
    width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer__wrapper {
    width: 545px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer__item-box-one {
    padding-bottom: 60px;
}

/*--------------portfolio-------------------*/

.portfolio__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio__wrapper-box {
    width: 885px;
    display: flex;
    align-items: center;
    padding: 20px;
    background: #fff;
    border-radius: 5px;

    margin: 25px 0;
}

.portfolio__box-inner {
    padding-right: 39px;
}

.portfolio__box-inner img {
    padding-bottom: 20px;

}

.portfolio__inner-img {
    display: flex;
    justify-content: space-between;
}

.portfolio__inner-img img {
    cursor: pointer;
}

.portfolio__wrapper-text {
    text-align: left;
}

.portfolio__wrapper-text h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #353636;

    padding-bottom: 27px;
}

.portfolio__wrapper-text p strong {
    font-weight: 500;
    color: #303030;
    padding-right: 17px;
}


.portfolio__wrapper-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #303030;
    padding-bottom: 30px;
}


.scrol__top,
.scrol__left {
    width: 60px;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 25px 0 45px;
}

.scrol__top,
.scrol__left {
    font-family: 'Futura PT Book';
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #cfd0d1;

    transition: .4s;
}

.scrol__left {
    width: 165px;
    margin: 0;
}

.blog__scrol {
    position: relative;
    left: 24%;
    top: -4px;
}

.scrol__top::before {
    content: url('../images/button__top.png');
}

.scrol__left::before {
    content: url('../images/button__left.png');
    padding-right: 18px;
    position: relative;
    top: 12px;
}

.scrol__top:hover,
.scrol__left:hover {
    color: #979797;
}

.scrol__top:hover::before {
    content: url('../images/button__top-active.png');
}

.scrol__left:hover::before {
    content: url('../images/button__left-active.png');
}

.scrol__top:hover::before {
    content: url('../images/button__top-active.png');
}

/*------------blog----------------*/
.blog {
    overflow: hidden;
}

.blog__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: -80px;
}


.blog__wrapper-text {
    width: 1270px;

    padding: 50px 50px 6px 50px;
    background: #fff;
    color: #303030;

    border-radius: 5px;
}

.blog__wrapper-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    padding-bottom: 44px;
}


.blog__text-title {
    display: flex;
    align-items: center;
    padding-bottom: 51px;
}

.blog__text-title img {
    padding-right: 40px;
    padding-bottom: 0;
}

.blog__title-text h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;

    padding-bottom: 28px;
}

.blog__title-text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #999999;

    padding: 0;
}

.blog__wrapper-content {
    width: 500px;
    height: 783px;
    background: #fff;
    border-radius: 5px;
}

.blog__wrapper-content h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #353636;
    text-align: center;
    padding: 42px 0 20px;
}

.blog__content-box {
    margin: 20px 40px;
    border: 1px solid #E7E8EC;
    border-radius: 5px;
}

.blog__content-box img {
    padding: 20px 20px 45px 20px;
    float: left;
}


.blog__box-title p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #999999;

    padding: 20px 0 9px;
}

.blog__box-title h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #353636;
}

.blog__box-title a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 60px;
    color: #1773BA;
}

.blog__box-title a:hover {
    text-decoration: underline;
}


ol {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-top: -48px;


    counter-reset: myCounter;
    list-style: none;
}

ol>li::before {
    content: counter(myCounter) ') ';
    counter-increment: myCounter;
}

/*-------------calculation---------------*/


.calculation__wrapper {
    background: #fff;
    border-radius: 5px;
    padding: 50px;
    margin-bottom: 50px;
}

.calculation__wrapper h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #424343;
    text-align-last: left;

    padding-bottom: 35px;
}

.calculation__wrapper p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #424343;
}

input {
    width: 835px;
    height: 60px;
    border: 1px solid #999999;
}

.form p {
    padding: 10px 0 38px;
}


.form__box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 42px;
}

.form__box-inner p {
    padding-bottom: 14px;
}

.form__box-inner input {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(96, 96, 96);
    padding: 20px;
    border-radius: 5px;
}

.form__box-inner input:required:invalid {
    color: #a63737;
}


.form__box-textarea p {
    padding-bottom: 14px;
}

textarea {
    width: 835px;
    height: 140px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(96, 96, 96);
    padding: 20px;
    resize: none;

}

.form__textarea-inner {
    width: 835px;
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
}

.form__textarea-inner p span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #999999;
}

.form__textarea-inner input {
    border: none;
    background: #fff;
    width: 142px;
    padding: 0;

    border-radius: 5px;

    font-size: 20px;
    line-height: 24px;
    color: #8bb9dc;
    cursor: pointer;
}

.form__textarea-inner img {
    position: relative;
    top: 5px;
    left: -14px;
}


.form__textarea-inner input:hover {
    text-decoration: underline;
}

.calculation__btn {
    width: 730px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.calculation__checbox {
    width: 225px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calculation__checbox input {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.calculation__checbox p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #999999;
    padding: 0;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 60px;
    color: rgb(255, 255, 255);
    padding: 23px 164px;
    border-radius: 60px;
    border: 1px solid rgb(23, 115, 186);
    background: linear-gradient(to right, #115e99, #1b73b8, #2488d5);
    cursor: pointer;
}

.button:hover {
    background: rgb(27, 130, 209);
}

.button:active {
    box-shadow: 0px 3px 8.6px 1.4px rgba(27, 130, 209, 0.48);
}

input:focus,
textarea:focus {
    outline-color: #606060;
}

/*-----------checbox-------------*/
.check {
    padding-left: 1em;
}

.check__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0;
}

.check__box {
    position: absolute;
    margin-top: -0.8em;
    margin-left: -1em;
    width: 20px;
    height: 20px;
    background: url('../images/checbox.png') no-repeat;
}

.check__input:checked+.check__box {
    background: url('../images/checbock__active.png') no-repeat;
}

.check__input:focus+.check__box {
    background: url('../images/check.png') no-repeat;
    border: 1px solid #000;
    border-radius: 4px;
}

.check__input:focus:checked+.check__box {
    background: url('../images/checbock__active.png') no-repeat;
    border: 1px solid #000;
    border-radius: 4px;
}

.check__input:disabled+.check__box {
    background: url('../images/check-_deseibal.png') no-repeat;

}

.check__input:checked:disabled+.check__box {
    background: url('../images/check__deseibal-active.png') no-repeat;

}

/*--------------------request------------------*/

.request__close {
    position: absolute;
    top: 18px;
    right: 23px;
}

.request__wrapper {
    margin: 30px auto;
    max-width: 800px;
    background: #fff;
    padding: 33px 71px 40px 57px;
    position: relative;
}

.request__wrapper input {
    max-width: 670px;
    margin-bottom: 33px;
    border: 1px solid #999999;
}

.request__btn .calculation__checbox {
    margin: 21px auto;
}

.request__wrapper textarea {
    max-width: 670px;

}

.request__btn {
    display: block;
    width: 440px;
    margin: 0 auto;
}

.request__btn .check {
    margin: 0 auto;
}

.request h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #353636;
    text-align: center;

    padding-bottom: 22px;
}

.request p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #353636;
}

/*---------------shema------------------*/

.schema__wrapp-inner {
    position: relative;
}

.schema__wrapp-inner p {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #353636;
    position: absolute;
    left: 300px;
    top: -100px;
}

.schema__inner-text-1 p {
    width: 241px;
    top: 154px;
    left: 164px;
}

.schema__inner-text-1 p::before {
    content: url('../images/line__1.png');
    position: absolute;
    left: 114px;
    top: 66px;
}



.schema__inner-text-2 p {
    width: 338px;
    top: 140px;
    left: 514px;
}

.schema__inner-text-2 p::before {
    content: url('../images/line__2.png');
    position: absolute;
    left: 75px;
    top: 66px;
}



.schema__inner-text-3 p {
    width: 314px;
    left: 981px;
    top: 97px;
}

.schema__inner-text-3 p::before {
    content: url('../images/line__3.png');
    position: absolute;
    left: -165px;
    top: 97px;
}

.schema__inner-text-4 p {
    width: 314px;
    left: 1544px;
    top: 236px;
}

.schema__inner-text-4 p::before {
    content: url('../images/line__4.png');
    position: absolute;
    left: -165px;
    top: 69px;
}

.schema__inner-text-5 p {
    width: 253px;
    left: 196px;
    top: 559px;
}

.schema__inner-text-5 p::before {
    content: url('../images/line__5.png');
    position: absolute;
    left: 117px;
    top: -111px;
}

.schema__inner-text-6 p {
    width: 314px;
    left: 1572px;
    top: 457px;
}

.schema__inner-text-6 p::before {
    content: url('../images/line__6.png');
    position: absolute;
    left: -236px;
    top: 3px;
}

.schema__inner-text-7 p {
    width: 379px;
    left: 326px;
    top: 697px;
}

.schema__inner-text-7 p::before {
    content: url('../images/line__7.png');
    position: absolute;
    left: 178px;
    top: -120px;
}

.schema__inner-text-8 p {
    width: 381px;
    left: 1060px;
    top: 715px;
}

.schema__inner-text-8 p::before {
    content: url('../images/line__8.png');
    position: absolute;
    left: 100px;
    top: -198px;
}


.schema__inner-text-9 p {
    width: 314px;
    left: 1488px;
    top: 647px;
}

.schema__inner-text-9 p::before {
    content: url('../images/line__9.png');
    position: absolute;
    left: -250px;
    top: -151px;
}


.schema__inner-img {
    padding: 215px 333px;
    text-align: center;
}

/*---------------filter------------------*/


.filter__wrapp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px auto;
}

.filter__wrapp-btn {
    width: 440px;
    height: 98px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #C7C7C7;
    padding: 0 39px 0 48px;
    background: #fff;
    border-radius: 49px;
    text-align: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.filter__wrapp-btn span {
    font-size: 14px;
    position: relative;
    z-index: 2;
}

.filter__wrapp-btn span::after {
    content: url('../images/eleps.png');
    position: absolute;
    top: -5px;
    left: -10px;
    z-index: 0;
}

.filter__wrapp-btn--active {
    background: linear-gradient(to right, #115e99, #1b73b8, #2488d5);
    color: #fff;
    width: 440px;
    height: 98px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 0 39px 0 48px;
    border-radius: 49px;

    display: flex;
    justify-content: space-between;
    text-align: inherit;

    box-shadow: 0px 5px 11.64px 0.36px rgba(18, 82, 131, 0.43);

}

.filter__wrapp-btn--active:hover {
    color: #fff;
}

.filter__wrapp-btn--active span {
    font-size: 14px;
    position: relative;
    z-index: 2;
}

.filter__wrapp-btn--active span::after {
    content: url('../images/eleps.png');
    position: absolute;
    top: -5px;
    left: -10px;
    z-index: 0;
}


.filter__wrapp-btn:hover span::after {
    content: url('../images/oval__actvive.png');
}

.filter__box {
    background: #fff;
    margin: 0 auto;
    display: none;
}

.show-active {
    display: block;
}


.filter__box-inner {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 40px 0 25px;

}

.filter__box::before {
    content: url('../images/figure.png');
    position: relative;
    top: -19px;
    left: 193px;
}

.filter__box-btn {
    width: 338px;
    height: 95px;
    padding: 0 20px 0 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #C7C7C7;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 15px;


    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
    color: #353636;
}

.filter__box-btn span {
    display: inline-grid;
    font-size: 14px;
    line-height: 16.8px;
    text-align: center;
    position: relative;
}

.filter__box-btn:hover,
.filter__wrapp-btn:hover {
    color: #1773ba;
    border: 1px solid #1773ba;
}

.filter__box-btn:hover span::after {
    content: url('../images/box__hover.png');
    position: absolute;
    top: 16px;
    left: 0;
}

.filter__box-btn--active:hover {
    color: #fff;
}

.filter__wrapp-btn--active:hover {
    color: #fff;
}

.filter__wrapp-btn--active:hover span::after {
    content: url('../images/eleps.png');
    position: absolute;
    top: -5px;
    left: -10px;
    z-index: 0;
}


.filter__box-btn--active {
    background: linear-gradient(to right, #115e99, #1b73b8, #2488d5);
    color: #fff;

    width: 338px;
    height: 95px;
    padding: 0 20px 0 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 15px;


    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;


    box-shadow: 0px 5px 11.64px 0.36px rgba(18, 82, 131, 0.43);
}

.filter__box-btn--active span {
    display: inline-grid;
    font-size: 14px;
    line-height: 16.8px;
    text-align: center;
    position: relative;
}



.filter__box-btn--active span::after {
    content: url('../images/box__active.png');
    position: absolute;
    top: 16px;
    left: 0;
}

.filter__box-btn--active:hover span::after {
    content: url('../images/box__active.png');
    position: absolute;
    top: 16px;
    left: 0;
}


/*-----------------discount------------*/
.discount {
    padding: 37px 0;
}


.discount__wrapper {
    display: flex;
    flex-wrap: wrap;
}



.discount__wrapper h2 {
    display: inline-block;
    font-weight: bold;
    font-size: 64px;
    line-height: 60px;
    color: #AD1031;

    transform: rotate(-90deg);
    z-index: 23423;

    margin-right: -347px;
    margin-left: 37px;
    z-index: 0;
}

.discount__wrapper-box {
    width: 348px;
    background: #fff;
    border-radius: 5px;
    padding: 31px;
    position: relative;
    margin: 6px;
}

.discount__wrapper-box img {
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #E7E8EC;
    padding: 12px 17px 15px 18px;

}

.discount__wrapper-box a img {
    position: absolute;
    z-index: 23;
    top: 242px;
    right: 27px;
    border: none;
}

.discount__wrapper-text h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
    color: #353636;
    padding: 34px 0 20px;
}

.discount__wrapper-text h4 {
    font-weight: 400;
    font-size: 15px;
    color: #353636;
}

.discount__wrapper-text img {
    border: none;
    padding: 0;
}

.discount__wrapper-text p {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #353636;
    padding: 20px 0 22px;
}

.discount__wrapper-text p span {
    color: #AD1031;
    text-decoration: line-through;
    padding-right: 19px;
}

.discount__wrapper-text a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #1773BA;
}

.discount__wrapper-text a:hover {
    text-decoration: underline;
}



/*------------------band--------------*/
.band {

    background: url('../images/badn__back.png') no-repeat right 0 top 0, linear-gradient(to right, #115e99, #1b73b8, #2488d5);
    background-size: contain;
}

.band {}

.conteiner {}

.band__wrapp {
    max-width: 1370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
}


.band__wrapp-box h3 {
    padding-top: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.band__wrapp-box-one h3 {
    position: relative;
    top: 11px;
}

.band__wrapp-box-two h3 {
    position: relative;
    top: 31px;
}


/*-------------------slaiders----------------*/
.slaider {
    position: relative;
    overflow: hidden;
}

.slaider__box {
    height: 94%;
    width: 300px;
    border-radius: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    left: -167px;
}

.slaider__box-2 {
    height: 94%;
    width: 300px;
    border-radius: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    right: -167px;
}

.street__conteiner {
    display: flex;
    align-items: center;
}

.street__conteiner h2 {
    font-weight: 500;
    font-size: 20px;
    color: #353636;
    text-align: center;
    position: relative;
    left: 40%;
    transform: translateX(-50%);
}

.slaider__conreiner {
    width: 1550px;
    margin: 0 auto;
}

.slaider___wrapper-box {
    width: 1550px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 40px;
    margin: 0 auto 40px;
}

.slaider__box-img {
    position: relative;
    margin-right: 80px;
}

.slick-initialized .slick-slide {
    display: flex;
}

.slick-btn {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    border: none;

    background: transparent;

    z-index: 5;

    cursor: pointer;

    outline: none;
}

.slick-prev {
    left: -136px;
}

.slick-next {
    right: -136px;

    border-radius: 5px;

}

.slick-next::after {
    content: 'Предыдущий товар';
    font-family: 'Futura PT Book';
    font-size: 12px;
    line-height: 14px;
    color: #B2B2B2;
    position: absolute;
    top: 44px;
    left: 0;

}


.slick-prev::after {
    content: 'Предыдущий товар';
    font-family: 'Futura PT Book';
    font-size: 12px;
    line-height: 14px;
    color: #B2B2B2;
    position: absolute;
    top: 44px;
    left: 0;

}

.slick-prev:hover:before {
    content: url('../images/slaider__left-active.png');
    position: absolute;
    top: 0;
    left: 7px;
}

.slick-next:hover:before {
    content: url('../images/slaider__left-active.png');
    transform: rotate(180deg);
    position: absolute;
    top: -2px;
    left: 6px;
}


.slick-next:hover:after,

.slick-prev:hover:after,
.slick-prev:hover:before {
    color: #646464;
}

.slick-bnt:hover {
    background: none;
}


.slaider__box-img img {
    cursor: pointer;
    padding: 11px 86px 8px 72px;
    border: 1px solid #E7E8EC;
    border-radius: 5px;
}

.slaider__img-conteiner {
    padding-top: 22px;
}

.slaider__img-conteiner img {
    padding: 0;
    border: none;
}

.slaider__box-img a {
    position: absolute;
    top: 413px;
    left: 346px;
}

.slaider__box-img a img {
    border: none;
}

.slaider__img-conteiner {
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.slaider__box-text {
    width: 600px;
}


.slaider__text-conteiner h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #353636;
    padding-bottom: 37px;
}

.slaider__text-conteiner ul li {
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    color: #353636;
}

.slaider__text-conteiner {
    padding-bottom: 70px;
}

/*-------------------lines----------------*/


.lines__conteier {
    max-width: 1540px;
    margin: 0 auto;
}

.lines__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lines__wrapper-box {
    width: 370px;
    padding: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.lines__wrapper-box h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #353636;
    text-align: left;

    padding-top: 16px;
}

.lines__wrapper-box-1 {
    background: #fff url('../images/line1back.png') no-repeat right bottom;
}

.lines__wrapper-box-2 {
    background: #fff url('../images/line2back.png') no-repeat right bottom;
}

.lines__wrapper-box-3 {
    background: #fff url('../images/line3back.png') no-repeat right bottom;
}

.lines__wrapper-box-4 {
    background: #fff url('../images/line4back.png') no-repeat right bottom;
}


.image-popup {
    transform: scale(1.2);
}

.mfp-img {
    transition: .8s;
    transform: scale(2);
}

/*---------------datas-----------------------*/

.datas__wrapper {
    max-width: 1540px;
    margin: 40px auto;
}


#tab_1::after {
    content: url('../images/figure.png');
    position: relative;
    top: -329px;
    left: 191px;
}

#tab_2::after {
    content: url('../images/figure.png');
    position: relative;
    top: -329px;
    left: 667px;
}

#tab_3::after {
    content: url('../images/figure.png');
    position: relative;
    top: -329px;
    left: 1110px;
}

#tab_4::after {
    content: url('../images/figure.png');
    position: relative;
    top: -329px;
    left: 1535px;
}

#tab_1::before {
    content: url('../images/figure.png');
    position: relative;
    top: -247px;
    left: 144px;
}



#tab_2::before {
    content: url('../images/figure.png');
    position: relative;
    top: -247px;
    left: 510px;
}

#tab_3::before {
    content: url('../images/figure.png');
    position: relative;
    top: -247px;
    left: 880px;
}

#tab_4::before {
    content: url('../images/figure.png');
    position: relative;
    top: -247px;
    left: 1274px;
}

.datas__wrapper-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.datas__box-btn {
    display: inline-block;
    width: 370px;
    padding: 33px 75px 38px 75px;
    text-align: center;


    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #C7C7C7;


    border: 1px solid #E8E9ED;
    background: #fff;
    border-radius: 49px;

    transition: .4s;

}

.datas__box-btn:hover {
    color: #1773ba;
    border: 1px solid #1773ba;
}

.datas__box-btn--active:hover {
    color: #fff;
}


.datas__box-btn--active {
    display: inline-block;
    width: 370px;
    padding: 33px 75px 38px 75px;
    text-align: center;


    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;


    border-radius: 49px;


    background: linear-gradient(to right, #115e99, #1b73b8, #2488d5);


    box-shadow: 0px 5px 11.64px 0.36px rgba(18, 82, 131, 0.43);
}

ul li {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
}

li span:nth-child(2) {
    flex: 1 0;
    border-bottom: 1px dotted #000;
    height: 1.6em;
    margin: 0 .4em;
}

.datas__wrapper-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 35px 40px;
    background: #fff;
    display: none;
}

.datas__inner-text {
    width: 730px;
}

.datas__inner-text ul li {
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    color: #353636;
}



.show {
    display: flex;
}

/*----------------------------------------------------------------------*/
/*---------------------media----------------------------------------------*/

/*----------------------------menu-----------------------------------------*/
@media(max-width: 1420px) {
    .header__wrapp-conteiner {
        display: block;

    }

    .header__conteiner-box-one {
        max-width: 660px;
        margin: 20px auto;
    }

    .header__menu-item {
        display: block;
    }

    .header__box-link {
        margin-bottom: 10px;
    }
}

@media(max-width: 960px) {
    .header {
        overflow: hidden;
    }

    .header__logo-text {
        display: none;
    }

    .header__menu {
        position: relative;
    }


    .header__menu-btn {
        position: absolute;
        right: 7px;
    }

    .header__menu-logo {
        width: 70px;
        left: 25px;
        top: 25px;

    }

    .header__menu-item {
        position: absolute;
        left: 50%;
        transform: translateX(-25%);
    }

    .header__menu-logo img {
        width: 100%;
    }

    .header__menu-item {}

    .header__wrapp-conteiner-two {
        display: block;
    }

    .header__conteiner-box {
        margin: 20px auto;
    }
}

@media(max-width: 730px) {
    .header__conteiner-box-one {
        width: 417px;
        display: block;
    }

    .header__conteiner-box-one>.header__conteiner-text>.header__conteiner-btn>span::after {
        top: -39px;
        left: 83%;
    }


    .header__back-one h3 {
        width: 222px;
    }

    .header__conteiner-box h3 {
        padding-top: 15px;
    }
}

@media(max-width: 680px) {
    .header__menu-btn p {
        display: none;
    }

    .header__menu-btn::after {
        content: url(../images/header__close.png);
        position: relative;
    }

}

@media(max-width: 525px) {
    .header__conteiner-box-one {
        width: 300px;
        display: block;
    }

    .header__conteiner-text h3 {
        margin-left: -18px;
    }

    .header__conteiner-box {
        width: 300px;
        margin: 10px auto;
    }

    .header__conteiner-box-one>.header__conteiner-text>.header__conteiner-btn>span::after {
        top: -56px;
        left: 88%;
    }

    .header__conteiner-btn>span::after {
        position: relative;
        top: 11px;
        left: 66%;
    }

    .header__conteiner-box img {
        width: 100%;
        padding-bottom: 27px;
    }

    .header__box-link,
    .footer__box-link {
        font-size: 20px;
        line-height: 6.8px;
        padding-bottom: 15px;

    }

    .header__box-link span::after {
        padding-left: 25px;
    }

    .header__box-link-two span::after {
        padding-left: 15px;
    }

    .header__menu-item {
        transform: translateX(-15%);
    }
}

/*--------------request-------------------*/

@media(max-width: 850px) {
    .request__wrapper {
        margin: 10px;
    }

    .form__box-inner input,
    .form__box-textarea textarea {
        max-width: 100%;
    }
}

@media(max-width: 650px) {
    .request__btn .button {
        padding: 2px 59px;
    }

    .request__wrapper {
        padding: 20px;
    }

    .request__btn {
        width: 225px;
    }

    .request__wrapper h2 {
        text-align: left;
    }
}

/*--------------------active box-------------------*/


@media(max-width: 1040px) {
    .active__box-inner h2 {
        display: none;

    }

    .active__box-inner {
        border: none;
    }
}

@media(max-width:900px) {
    .active__box h2 {
        line-height: 30px;
    }
}

@media(max-width: 530px) {
    .active__box h2 {

        font-size: 15px;
        line-height: 20px;
    }
}

/*--------------footer-----------------*/
@media(max-width: 1650px) {
    .footer__logo-text {
        display: none;
    }

    .footer__wrapp {
        width: 830px;
    }

    .footer__wrapper {
        width: 480px;
    }
}




@media(max-width: 1380px) {
    .footer__item-box-one {
        padding-bottom: 10px;
    }

    .footer__wrapp-inner>a {
        padding-bottom: 10px;
    }



    .footer__wrapper-link p {
        padding-top: 10px;
    }

    .footer__wrapper {
        display: block;
        padding-right: 10px;
    }

    .footer__wrapp {
        display: block;
    }

    .footer {
        position: relative;
    }

    .footer__menu-item {
        position: absolute;
        top: 54px;
        left: 216px;
    }

    .footer__wrapp-inner {
        position: absolute;
        top: 170px;
        left: 216px;
    }
}

@media(max-width:960px) {
    .footer__logo {
        width: 70px;
    }

    .footer__logo img {
        width: 100%;
    }

    .footer__menu-item {
        left: 85px;
    }

    .footer__wrapp-inner {
        left: 85px;
    }

}

@media(max-width: 840px) {
    .footer__logo {
        margin: 0 auto;
    }

    .footer__menu-item,
    .footer__wrapp-inner {
        position: relative;
        top: 0;
        left: 0;
        padding: 10px 0;
    }

    .footer__box {
        display: block;
    }

    .footer__wrapp {
        width: 500px;
        margin: 0 auto;
        text-align: center;
    }

    .footer__wrapper-link a p {
        text-align: center;
    }

    .footer__wrapper {
        margin: 10px auto;
    }

    .footer__wrapper-inner h4,
    .footer__wrapper-inner p {
        text-align: center;
    }

    .footer__wrapper-link a,
    .footer__wrapper-link p {
        text-align: center;
        margin: 0 auto;
    }


}

@media(max-width: 520px) {

    .footer__wrapp,
    .footer__wrapper {
        width: 100%;
    }
}

/*--------------blog------------*/
@media(max-width: 1820px) {
    .blog__wrapper {
        display: block;
    }

    .blog__wrapper-text {
        margin: 0 auto;
    }

    .blog__wrapper-content {
        margin: 20px auto;

    }
}

@media(max-width: 1320px) {
    .blog__wrapper-text {
        width: 800px;
    }

    .blog__wrapper-text img {
        width: 100%;
    }

    .blog__scrol {
        position: relative;
        left: 24%;
        top: 44px;
    }
}

@media(max-width: 855px) {


    .blog__wrapper-text {
        max-width: 600px;
    }

    .blog__wrapper-text img {
        width: 100%;
    }
}

@media(max-width: 655px) {
    .blog__wrapper-text {
        max-width: 500px;
        padding: 10px;
    }

    .blog__text-title {
        display: block;
    }

    .blog__text-title {
        max-width: 500px;
    }

    .blog__text-title img {
        margin: 0 auto;
    }

    .blog__text-title img {
        margin: 20px;
    }
}

@media(max-width: 580px) {
    .blog__wrapper-text {
        width: 400px;
    }

    .blog__wrapper-content {
        width: 400px;
        height: 100%;

    }

    .blog__content-box img {
        float: none;
    }


}

@media(max-width: 432px) {
    .blog__wrapper-text {
        width: 300px;
    }

    .blog__wrapper-content {
        width: 300px;
    }

    .blog__wrapper-text {
        width: 300px;
    }

    .blog__content-box {
        margin: 10px;
    }
}

/*-------------------devices------------*/
.schema {
    overflow: hidden;
}


.schema__wrapp {

    overflow-x: scroll;
}