@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/FuturaPT-Book.eot');
    src: url('FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Book.woff2') format('woff2'),
        url('../fonts/FuturaPT-Book.woff') format('woff'),
        url('../fonts/FuturaPT-Book.ttf') format('truetype'),
        url('../fonts/FuturaPT-Book.svg#FuturaPT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 21px;
    color: #fff;

    background: #edeef0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.conteiner {
    max-width: 1920px;
    padding: 0 50px;
    margin: 0 auto;
    overflow: hidden;
}


/*---------------active----------------*/
.active {
    background-color: rgb(255, 255, 255);
}

.active__box {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.active__box h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;

    color: rgb(53, 54, 54);
    text-align: left;
}

.active__box-inner {
    border: 1px solid rgb(23, 115, 186);
    border-radius: 5px;
    display: flex;
    cursor: pointer;
}

.active__box-inner h2 {

    padding-left: 40px;
    font-size: 16px;
    line-height: 60px;
    color: rgb(23, 115, 186);
}



.menu__burger {
    width: 22px;
    height: 17px;
    position: relative;
    top: 35%;
    margin: 0 40px 19px;
}

.menu__burger::before,
.menu__burger::after {
    content: '';
    background-color: #1773BA;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
}

.menu__burger::before {
    top: 0;
}

.menu__burger-line {
    background-color: #1773BA;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 8px;
}

.menu__burger::after {
    bottom: 0;
}

.active__box-inner:hover {
    background: #1b82d1;
    color: #fff;
}

.active__box-inner:hover h2 {
    background: #1b82d1;
    color: #fff;
}

.active__box-inner:hover .menu__burger::before,
.active__box-inner:hover .menu__burger::after,
.active__box-inner:hover .menu__burger-line {
    background: #fff;
}

.active__box-inner:active {
    box-shadow: 0px 3px 8.6px 1.4px rgba(27, 130, 209, 0.48);
}

.active {
    display: block;
}

.deactive {
    display: none;
}



/*-----------header-----------*/


.header {
    background: linear-gradient(to right, #115e99, #1b73b8, #2488d5);
    font-family: 'Futura PT Book';
    display: none;
}

.header__active {
    display: block;
}

.header__menu-active {
    background: #fff;
}



.header__menu {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 195px;

    position: relative;
}

.header__menu-item {
    width: 400px;
    display: flex;
    justify-content: space-between;

}

.header__box-link,
.footer__box-link {
    font-family: 'Futura PT Book';
    font-size: 24px;
    line-height: 28.8px;
    color: #f0f5f9;
    display: block;
}



.header__box-link>span,
.footer__box-link>span {
    font-family: 'Futura PT Book';
    font-size: 18px;
    line-height: 21.6px;
    color: #fff;
    display: block;
}

.header__box-link span::after {
    content: url('../images/header__arrow.png');
    padding-left: 50px;
    position: relative;
    top: 3px;
}

.header__box-link-two span::after {
    padding-left: 40px;
}



.header__menu-logo {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



.header__logo-text h1 {
    font-size: 39px;
    line-height: 46.8px;
}

.header__logo-text p {
    font-size: 18px;
    line-height: 21.6px;
}

.header__menu-btn {
    display: flex;
    cursor: pointer;
}

.header__menu-btn p {
    font-size: 18px;
    line-height: 21.6px;
    position: relative;
    color: #f1f7fc;
    top: -20px;
}

.header__menu-btn p::after {
    content: url('../images/header__close.png');
    position: relative;
    top: 15px;
    padding-left: 20px;
}


.header__wrapp {
    padding-bottom: 133px;
}

.header__wrapp-conteiner {
    max-width: 1370px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.header__wrapp-conteiner-two {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__conteiner-box {
    padding: 50px 50px 47px;
    border-radius: 10px;
    margin-bottom: 51px;
    width: 417px;

    transition: .4s;
}



.header__back-one {
    background: #fff url('../images/products_back.png') no-repeat right bottom;
}

.header__back-two {
    background: #fff url('../images/project__back.png') no-repeat right bottom;
}

.header__back-three {
    background: #fff url('../images/portfolio__back.png') no-repeat right bottom;
}

.header__back-four {
    background: #fff url('../images/blog__back.png') no-repeat right bottom;
}

.header__back-five {
    background: #fff url('../images/company__back.png') no-repeat right bottom;
}

.header__back-six {
    background: #fff url('../images/structure__back.png') no-repeat right bottom;
}

.header__conteiner-box-one {
    width: 660px;
    padding: 50px 50px 36px 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.header__conteiner-box img {
    padding-bottom: 27px;
}

.header__conteiner-box-one img {
    padding-bottom: 14px;
}

.header__conteiner-box h3 {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #303030;
}

.header__conteiner-btn>span::after {
    content: url('../images/header__btn-arrow.png');
}

.header__conteiner-box-one>.header__conteiner-text>.header__conteiner-btn>span::after {
    position: relative;
    top: 73px;
    left: 83%;
}

.header__conteiner-text-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__conteiner-text-two h3 {
    font-weight: normal;
    font-size: 24px;
    line-height: 28.8px;
    color: #303030;
}

.header__conteiner-box:hover {
    box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.35);
}

.header__conteiner-box:hover .header__conteiner-text h3 {
    color: #1773ba;
}

.header__conteiner-box:hover .header__conteiner-btn>span::after {
    content: url('../images/header__btn-arrow-active.png');
}

/*---------------footer--------------*/
.footer {
    background: #2f2f2f;
    padding: 50px 0 53px;
    color: #B2B2B2;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo h1 {
    font-weight: normal;
    font-size: 39px;
    line-height: 46.8px;
    color: #fff;
}

.footer__logo-text p {
    font-size: 18px;
    line-height: 21.6px;
    color: #fff;
}


.footer__box-link,
.footer__box-link>span {
    color: #B2B2B2;
}

.footer__box-link span::after {
    content: url('../images/footer__arrow.png');
    padding-left: 50px;
    position: relative;
    top: 3px;
}

.footer__box-link-two span::after {
    content: url('../images/footer__arrow.png');
    padding-left: 40px;
    position: relative;
    top: 3px;
}

.footer__wrapp-inner>a {
    font-family: 'Futura PT Book';
    font-size: 22px;
    line-height: 26.4px;
    color: #B2B2B2;
    display: block;

    padding-bottom: 50px;
}

.footer__wrapp-inner>a>span {
    font-size: 18px;
    line-height: 21.6px;
}

.footer__wrapp-inner>a>span::after {
    content: url('../images/footer__arrow.png');
    padding-left: 132px;
    position: relative;
    top: 3px;
}

.footer__wrapp-text h4 {
    font-family: 'Futura PT Book';
    font-size: 18px;
    font-weight: normal;
    line-height: 28.8px;
}

.footer__wrapp-text p {
    font-family: 'Futura PT Book';
    font-size: 22px;
    line-height: 28.8px;
}

.footer__wrapper-inner {
    padding-bottom: 40px;
}

.footer__wrapper-inner h4 {
    font-family: 'Futura PT Book';
    font-size: 18px;
    line-height: 26.4px;
    text-align: right;
}

.footer__wrapper-inner p {
    font-family: 'Futura PT Book';
    font-size: 22px;
    line-height: 26.4px;
    text-align: right;

}

.footer__wrapper-link a {
    font-family: 'Futura PT Book';
    font-size: 22px;
    line-height: 26.4px;
    text-align: right;
    color: #1773ba;
    display: block;
}

.footer__wrapper-link a:hover {
    text-decoration: underline;
}

.footer__wrapper-link p {
    font-family: 'Futura PT Book';
    font-size: 18px;
    line-height: 26.4px;
    text-align: right;

    padding-top: 35px;
}

.footer__box {
    display: flex;
    justify-content: space-between;
}



.footer__wrapp {
    width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__wrapper {
    width: 545px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__item-box-one {
    padding-bottom: 60px;
}

/*--------------portfolio-------------------*/

.portfolio__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio__wrapper-box {
    width: 885px;
    display: flex;
    align-items: center;
    padding: 20px;
    background: #fff;
    border-radius: 5px;

    margin: 25px 0;
}

.portfolio__box-inner {
    padding-right: 39px;
}

.portfolio__box-inner img {
    padding-bottom: 20px;

}

.portfolio__inner-img {
    display: flex;
    justify-content: space-between;
}

.portfolio__inner-img img {
    cursor: pointer;
}

.portfolio__wrapper-text {
    text-align: left;
}

.portfolio__wrapper-text h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #353636;

    padding-bottom: 27px;
}

.portfolio__wrapper-text p strong {
    font-weight: 500;
    color: #303030;
    padding-right: 17px;
}


.portfolio__wrapper-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #303030;
    padding-bottom: 30px;
}


.scrol__top,
.scrol__left {
    width: 60px;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 25px 0 45px;
}

.scrol__top,
.scrol__left {
    font-family: 'Futura PT Book';
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #cfd0d1;

    transition: .4s;
}

.scrol__left {
    width: 165px;
    margin: 0;
}

.blog__scrol {
    position: relative;
    left: 24%;
    top: -4px;
}

.scrol__top::before {
    content: url('../images/button__top.png');
}

.scrol__left::before {
    content: url('../images/button__left.png');
    padding-right: 18px;
    position: relative;
    top: 12px;
}

.scrol__top:hover,
.scrol__left:hover {
    color: #979797;
}

.scrol__top:hover::before {
    content: url('../images/button__top-active.png');
}

.scrol__left:hover::before {
    content: url('../images/button__left-active.png');
}

.scrol__top:hover::before {
    content: url('../images/button__top-active.png');
}

/*------------blog----------------*/

.blog__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: -80px;
}


.blog__wrapper-text {
    width: 1270px;

    padding: 50px 50px 6px 50px;
    background: #fff;
    color: #303030;

    border-radius: 5px;
}

.blog__wrapper-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    padding-bottom: 44px;
}


.blog__text-title {
    display: flex;
    align-items: center;
    padding-bottom: 51px;
}

.blog__text-title img {
    padding-right: 40px;
    padding-bottom: 0;
}

.blog__title-text h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;

    padding-bottom: 28px;
}

.blog__title-text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #999999;

    padding: 0;
}

.blog__wrapper-content {
    width: 500px;
    height: 783px;
    background: #fff;
    border-radius: 5px;
}

.blog__wrapper-content h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #353636;
    text-align: center;
    padding: 42px 0 20px;
}

.blog__content-box {
    margin: 20px 40px;
    border: 1px solid #E7E8EC;
    border-radius: 5px;
}

.blog__content-box img {
    padding: 20px 20px 45px 20px;
    float: left;
}


.blog__box-title {}

.blog__box-title p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #999999;

    padding: 20px 0 9px;
}

.blog__box-title h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #353636;
}

.blog__box-title a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 60px;
    color: #1773BA;
}

.blog__box-title a:hover {
    text-decoration: underline;
}


ol {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-top: -48px;


    counter-reset: myCounter;
    list-style: none;
}

ol>li::before {
    content: counter(myCounter) ') ';
    counter-increment: myCounter;
}